<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>BTRS - Profile</title>
        <!-- Bootstrap core CSS-->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <%- include('../layouts/header', {logged:logged}) %>  
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        User Profile
                    </div>
                    <div class="card-body">
                    <% if(logged.validated==1) { %>
                        <form method="post">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="inputName" value="<%= logged.name %>" placeholder="Enter full name">
                                </div>
                            </div>
                            <% if(logged.role=='busmanager') { %>
                            <div class="form-group row">
                                <label for="inputCompanyName" class="col-sm-2 col-form-label">Company Name</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" name="company" id="inputCompanyName" value="<%= logged.company %>" placeholder="Enter Company name">
                                </div>
                            </div>
                            <% } %>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" id="inputEmail" value="<%= logged.email %>" placeholder="Enter email address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    <% } else { %>
                        <table class="form">
                            <tr>
                                <td>Name</td><td>:</td><td><%= logged.name %></td>
                            </tr>
                            <tr>
                                <td>Email</td><td>:</td><td><%= logged.email %></td>
                            </tr>
                            <% if(logged.role=='busmanager') { %>
                            <tr>
                                <td>Company</td><td>:</td><td><%= logged.company %></td>
                            </tr>
                            <% } %>
                        </table>
                    <% } %>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <%- include('../layouts/footer', {logged:logged}) %>
            <!-- Bootstrap core JavaScript-->
        </div>
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/assets/js/sb-admin.min.js"></script>   
    </body>
</html>