<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>BTRS - Manage Bus Managers</title>
        <!-- Bootstrap core CSS-->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <%- include('../../layouts/header', {logged:logged}) %>  
        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Manage Bus Managers
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mb-0" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Registered</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(busmanagers && busmanagers.length>0) { %>
                                    <% busmanagers.forEach(busmanager => { %>
                                    <tr>
                                        <td><%= busmanager.name %></td>
                                        <td><%= busmanager.email %></td>
                                        <td><%= busmanager.company %></td>
                                        <td  style="text-align: center;"><%= busmanager.registered.toLocaleString('en-US', {
                                            weekday: 'short',
                                            month: 'long',
                                            day: '2-digit',
                                            year: 'numeric',
                                            hour: '2-digit',
                                            minute: '2-digit',
                                            timeZone: 'Asia/Dhaka'
                                        }) %></td>
                                        <td style="text-align: center;">
                                            <a href="/system/busmanager/edit/<%= busmanager.id %>" class="btn btn-primary btn-sm">Edit</a> 
                                            <% if(logged.role=='admin') { %>
                                            <a class="btn btn-danger btn-sm" href="/system/busmanager/remove/<%= busmanager.id %>">Remove</a>
                                            <% } %>
                                        </td>
                                    </tr> 
                                    <% }) %>
                                    <% } else { %>
                                    <tr>
                                        <td colspan="5">No results found</td>
                                    </tr>
                                    <% } %>
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <%- include('../../layouts/footer', {logged:logged}) %>
        <!-- Bootstrap core JavaScript-->
        </div>
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/assets/js/sb-admin.min.js"></script>   
    </body>
</html>