<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - Success</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
        <table style="width: 100%; border: 1px solid #000">
            <tr>
                <td style="text-align: right"><a href="/">Search Tickets</a></td>
            </tr>
        </table>
        <h1><%= header %></h1>
        <% msgs.forEach(msg => { %>
        <p><%= msg %></p>
        <% }) %>
        <br>
        <a href="<%= goback[0] %>"><%= goback[1] %></a>
    </body>
</html>