<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title><%= title %> - Success</title>
        <!-- Bootstrap core CSS-->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
    </head>
    <body class="bg-dark">
        <div class="wrapper">
            <section class="hero">
              <header class="bg-light">
                <div class="container">
                  <nav class="navbar navbar-light">
                    <a href="#" class="navbar-brand mb-0">BTRS</a>
                    <div id="headerNav">
                      <ul class="nav navbar-nav">
                        <% if(active=='search') { %>
                        <li class="nav-item active">
                        <% } else { %>
                        <li class="nav-item">
                        <% } %>
                          <a class="nav-link" href="/">Search</a>
                        </li>
          
                        <% if(active=='printverify') { %>
                        <li class="nav-item active">
                        <% } else { %>
                        <li class="nav-item">
                        <% } %>
                          <a class="nav-link" href="/printverify">Print/Verify</a>
                        </li>
          
                        <% if(active=='cancel') { %>
                        <li class="nav-item active">
                        <% } else { %>
                        <li class="nav-item">
                        <% } %>
                          <a class="nav-link" href="/cancel">Cancel</a>
						</li>
						
						<% if(active=='supportticket') { %>
                        <li class="nav-item active">
                        <% } else { %>
                        <li class="nav-item">
                        <% } %>
                          	<a class="nav-link" href="/supportticket">Support Ticket</a>
                        </li>
          
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </header>
            </section>
          
            <section id="sec-about" class="sec-about pt-5 pb-5">
              <div class="container">
                    <div class="card">
						<div class="card-header">
							<i class="fa fa-check-square-o"></i> <%= header %>
						</div>
						<div class="card-body">
                            <% msgs.forEach(msg => { %>
                            <p><%= msg %></p>
                            <% }) %>
                            <br>
                            <a href="<%= goback[0] %>"><%= goback[1] %></a>
						</div>
					</div>
              </div>
            </section>
        </div>
    </body>
</html>